{% extends 'base/base.html' %}

{% block title %}Delete Category{% endblock title %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        realmente desear eliminar esta categoria <strong>{{ object }}</strong>
        <a href="{% url 'home:index' %}" class='btn btn-outline-info'>Cancel</a>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>

{% endblock content %}