{% extends 'base/base.html' %}

{% block title %}Update Category{% endblock title %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <a href="{% url 'home:index' %}" class='btn btn-outline-info'>Cancel</a>
        <button type="submit" class="btn btn-outline-warning">Update</button>
    </form>

{% endblock content %}