{% extends 'base/base.html' %}

{% block title %} 
Lista de estdios 
{% endblock title %}

{% block content %}
<title>Lista estadios</title>
    <a href="{% url 'core:crestadio' %}" class="btn btn-outline-success form-control">Nuevo estadio</a>
    <table class="table table-striped table-hover">
        <thead class="table-info">
            <th style="color: #353535;">ID</th>
            <th style="color: #353535;">Nombre</th>
            <th></th>
            <th style="color: #353535;">Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for Estadios in Estadios %}
                <tr>
                    <td>{{ Estadios.id }}</td>
                    <td>{{ Estadios.Nombre }}</td>
                    <td><a href="{% url 'core:restadio' Estadios.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:uestido' Estadios.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:destadio' Estadios.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}


