{% extends 'base/admin.html' %}

{% block title %}
  DELETE PRODUCT VIEW
{% endblock title %}

{% block content %}
<br>
<br>
    <form action="" method="post">
        {% csrf_token %}
            <h4>Borrar Producto</h4>
            <p>¿Realmente deseas borrar este producto : {{ object.name }} ? </p>
            <button type="submit" class="btn btn-danger">Borrar Producto</button>
            <a href="{% url 'core:product' %}" class="btn btn-warning">Cancelar</a>
    </form>
{% endblock content %}  