{% extends 'base/admin.html' %}

{% block title %}
  UPDATE PRODUCT VIEW
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary form-control">Update Product</button>
        <br>
        <a href="{% url 'core:product' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}