{% extends "base/base.html" %}
{% block title %}Index View{% endblock title %}
{% block content %}

<a href="{% url 'home:NewArea' %}" class="btn btn-outline-info">Create</a>

    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        
        <tbody>
      
            {% for Area in areas %}
            </tr>
            <td>{{ Area.id }}</td>
            <td>{{ Area.name }}</td>
            <td><a href="{% url 'home:detail_areas' Area.id %}" class="btn btn-outline-info">Detail</a></td>
            <td><a href="{% url 'home:update_areas' Area.id %}" class="btn btn-outline-warning">Update</a></td>
            <td><a href="{% url 'home:delete_areas' Area.id %}" class="btn btn-outline-danger">Delete</a></td>
            
            
            </tr>
            {% endfor %}
            
        </tbody>
      
    </table>
    
{% endblock content %}