{% extends 'base/base.html' %}

{% block title %}New areas{% endblock title %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <a href="{% url 'home:areas' %}" class='btn btn-outline-info'>Cancel</a>
        <button type="submit" class="btn btn-outline-success">New Area</button>
    </form>

{% endblock content %}