{% extends 'base/base.html' %}

{% block title %}Blog{% endblock title %}


{% block content %}
<style>
    .blanco{
      color: white;
    }
  </style>
  <title> Blog </title>

    <h1 class="blanco">BLOG</h1>
    <br>
    <br>
    <br>
    <hr>
    <p class="blanco"> 
       En BELLE D' LUXE su filosofia de empresa se redefine al concepto del lujo. El lujo no se trata de adquirir
       prendas de alto valor, sino de la interpretacion hacia la comodidad y la confianza en cada pieza que ofrecemos. 
       BUscamos crear una belleza incondicional unica en cada persona, haciendo que nuestros clientes, se sientan verdaderamente
       especiales
    </p>
    <br>
    <p class="blanco">
        Nuestra mision es innovar en la moda de una manera sostenible, sin causar danos al entorno natural.
        Nos esforzamos por proporcionar prendas que no solo se ven bien, sino que tambien generen una sensacion de comodidad, 
        seguridad y confianza en quienes las usan. Creemos que la verdadera belleza de lujo es aquella que se siente desde adentro.
    </p>
    <br>
    <p class="blanco">
        EN cuanto, nuestra vision, aspiramos a ser un referente a la industria, desafiando la diversidad y promoverlo la igualdad.
        Nos esforzamos por disenar y ofrecer productos innovadores, novedosos y sofisticados, agregando un toque de glamour a cada prenda.
        Nuestro objetivo es no solo vestir a nuestros clientesm tambien potenciar su confianza y personalidad
        permitiendoles destacar en su estilo unico. En BELLE D' LUXE se compromete con la excelencia y la autenticidad en la moda del lujo.
    </p>
    
    {% endblock content %}