{% extends 'base/base.html' %}

{% block title %}Servicios{% endblock title %}

{% block content %}

<style>
   body {
    color : #ffffff;
   }

    h1 {

        padding-top: 60px;
        color : #ffffff;
        text-align: center;

    }

    p{
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
    }
</style>

<title> Servicios </title>





    <h1>Nuestros servicios</h1>
    <br>
    <br>
    <hr>

    <p>
    BELLE D' LUXE demuestra ser profesional en los cuidados de su vestimenta. 
    Ofrecemos servicios sobre el planchado, cuidado, lavado, secado y calidad y costura.
    Todo lo que debe saber para cuidar la calidad de nuestro producto.
</p>



<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        PLANCHADO y CUIDADO
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>I. Antes de planchar, clasifica las prendas segun el tipo de tela y el nivel de calor que requieren.</p>
            <p> II. Utiliza una tela humeda para proteger las telas delicadas como el encaje y la lana</p>
            <p> III. Rocia las prendas de algodon y poliester con agua o vapor antes de plancharlas</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        LAVADO Y SECADO
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>I. Revise los simbolos de lavado. Indica si la prenda se puede lavar a mano o a maquina
                , a que temperatura, y si se puede usar secadora o plancha.
            </p>
            <p>II. Para lavar a mano, usa agua tibia, y poco jabon, preferiblemente especial para prendas delicadas</p>
            <p>III. Para secar la ropa, lo mejor es hacerlo al aire libre, lejos del sol directo. No usar secadora su la etiqueta lo prohibe.
                Si se utiliza secadora, escoja una temperatura baja y un programa corto. 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        CALIDAD Y COSTURA
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p>BELLE D' LUXE usa tejidos naturales y nobles como la seda, el algodon, la lana o el cachemir, que aportan suavidad, 
                comodidad y durabilidad a las prendas. Tambien emplean materiales sinteticos o mexclados, pero 
                siempre de alta calidad y con propiedades especiales, como la elasticidad, la transpirabilidad o la 
                resistencia. Los materiales tambien influyen en el aspecto y el color de las prendas, asi como en su caida y su movimiento.
            </p>
        </div>
      </div>
    </div>
  </div>





<br>
<hr>
<br>
<p>
    Nos encargamos que nuestros preferentes luzcan de la manera m[as atractiva posible. 
     Por ello nos encargamos en la consejeria de moda. Algunos puntos claves como sugerencia
     que podrian ayudarte :
</p>
<br>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Asesoría de según el cuerpo
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <p>EN FORMA</p>
            <p> Si su cuerpo tiene forma de rectangulo . Opta por vestidos con cinturones, frunces, pliegues o volantes</p>
            <p>Si su cuerpo tiene forma de triangulo.  Opta por vestidos  con escotes amplios, mangas abullonadas o hombros descubiertos</p>
            <p>Si su cuerpo tiene forma de triangulo invertido. Opta por vestidos con vuelo, envase acampanados, o con estampados llamativos</p>
            <p>si su cuerpo tiene forma de reloj de arena Opta por vestidos ajustados, entallados, cruzados o con escotes en V</p>
            <p>si su cuerpo tiene forma ovolada. OPta por vestidos con corte imperiom canesu o recto</p>.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Asesoría de color
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><p>COLOR</p>
            <p>Los colores oscuros como el negro, el azul marino o el burdeos son elegantes y favorecedores</p>
            <p>Los colores brillantes como el rojo, el fucsia o el dorado, son llamativos y divertidos</p>
            <p>Los zapatos pueden tener brillo lentejuelas o cristales para darles un toque glamuroso a tu look</p></div>
      </div>
    </div>
    </div>
  </div>
<br>
<br>
<br>
<hr>
<p>Colaboraciones</p>
<p>BELLEZA Y CUIDADO</p>
<p>BELLE D' LUXE se enorgullese de poder trabajar en colaboracion con la marca, The star.
En un futuro se espera lanzar colecciones que tengan un significado, un buen uso y que refleje el estilo
y la personalidades de la personas. Nuestra prioridad es que nuestro servicio sea capaz de llenar
los deseos de nuestros consumidoresm con nuestra coleccion, ofrecer[a servicio de vestimenta y servicio de belleza.
</p>
{% endblock content %}
