{% extends "base/base.html" %}
{% block title %}Index View{% endblock title %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>STATUS</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for category in categories %}
            </tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.status }}</td>
            <td><a href="{% url 'home:detail_category' category.id %}" class="btn btn-outline-info">Detail</a></td>
            <td><a href="{% url 'home:update_category' category.id %}" class="btn btn-outline-warning">Update-</a></td>
            <td><a href="{% url 'home:delete_category' category.id %}" class="btn btn-outline-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}