{% extends "base/base.html" %}

{% block title %}
Detalles de la cidad
{% endblock title %}


{% block content %}
<title>Detalles ciudad</title>
<h6>ID: </h6>{{ object.id }}
<br>
<h6>Nombre: </h6>{{ object.Nombre }}
<br>
<h6>Estados: </h6>{{ object.Estado }}
<br>
<h6>Descripción: </h6>{{ object.Descripcion }}
<br>
<h6>Fecha de creación: </h6>
{{ object.fecha }}
<br>
<a href="{% url 'core:listaciudad' %}">Regresar</a>
{% endblock content %}
