<html>
    <head>
        <meta charset="utf-8">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <style>
            .sidebar {
              margin: 0;
              padding: 0;
              width: 170px;
              background-color: #ccd1cb;
              position: fixed;
              height: 100%;
              overflow: auto;
            }
            .sidebar a {
              display: block;
              color: black;
              padding: 16px;
              text-decoration: none;
            }
            
            .sidebar a.active {
              background-color: #748e81;
              color: white;
            }
            .sidebar a:hover:not(.active) {
              background-color: #555;
              color: #ccd1cb;
            }
            div.content {
              margin-left: 200px;
              padding: 1px 16px;
              height: 1000px;
            }
            @media screen and (max-width: 700px) {
              .sidebar {
                width: 100%;
                height: auto;
                position: relative;
              }
              .sidebar a {float: left;}
              div.content {margin-left: 0;}
            }
            @media screen and (max-width: 400px) {
              .sidebar a {
                text-align: center;
                float: none;
              }
            } 
            body{
            background-color : #e9ede8
            }
        </style>
        
    </head> 
    <body>
        <!-- The sidebar -->
<div class="sidebar">
    <a class="active">BELLE D' LUXE Admin</a>
    <a href="{% url 'core:product'%}">Productos</a>
    <a href="{% url 'core:category' %}">Categorias</a>
    <a href="{% url 'core:campaign' %}">Campañas</a>    
    <a href="{% url 'core:customer' %}">Clientes</a>
    <a href="{% url 'core:pedido' %}">Pedidos</a>
    <a href="{% url 'core:Itempedido' %}">Subpedidos</a>
    <a href="{% url 'home:inicio' %}">Salir</a>
  </div>
  
  <!-- Page content -->
  <div class="content">
    {% block content %}
    {% endblock content %}
  </div> 
                    
           
    </body>
</html>